{% extends 'admin/base.html' %}

{% block tail %}
    <div class="container">
        <div class="description">
            <br><br>
            <p>
                Антон Телышев, ИУ6-21М<br/>
                Курсовая работа по дисциплине «Сетевые базы данных»<br/>
                МГТУ им. Н.Э. Баумана<br/>
                Москва, 2018 г.<br/>
            </p>
        </div>
    </div>

    <style>
        .container .description {
            text-align: right;
            margin-right: .5rem;
            font-size: 1rem;
        }
    </style>
{% endblock %}
