{% extends 'admin/_base.html' %}

{% block body %}
    <p>Привет, <b>{{ current_user.username }}</b>!</p>
    <p>Вас приветствует административный интерфейс системы <b>"Компьютерный форум"</b>.</p>
    <p>
        Вы можете создавать и редактировать:<br>
            - Пользователей;<br>
            - Форумы;<br>
            - Разделы форумов;<br>
            - Темы.<br>
    </p>
    <p>А также производить полнотекстовый поиск по данным сущностям.</p>
    <p>
        <a href="/">Перейти на сайт</a>
    </p>
{% endblock %}
