{% extends 'base.html' %}

{% block profile %}
    <div class="profile">
        <span><i class="fa fa-user"></i> <a href="/registration">Регистрация</a></span>
    </div>
{% endblock %}

{% block content %}
    <div class="login_page">
        <div class="cyberforum_form">
            <div class="cyberforum_form__title">
                Вход
            </div>
            <form action="/login/" method="POST" class="cyberforum_form__area">
                {% if errors %}
                    <div class="cyberforum_form__area__errors">
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="cyberforum_form__area__data">
                    <label for="email">E-mail</label><br>
                    <input type="email" name="email"
                           required="required" value="{{ username or '' }}"><br><br>

                    <label for="password">Пароль</label><br>
                    <input type="password" name="password"
                           required="required" value="{{ password or '' }}"><br>

                    <input type="hidden" name="next" value="{{ next }}">
                </div>
                <div class="cyberforum_form__area__controls">
                    <button type="submit" class="cyberforum_btn">Войти</button>
                </div>
            </form>
        </div>
    </div>

    <style>
        .login_page {
            margin: 1rem .5rem;
            display: flex;
        }
    </style>
{% endblock %}

