{% extends 'base.html' %}

{% block content %}
    <div class="section_page">
        <div class="section_page__bread_crumbs">
            {{ forum.title }} >
            {% if parent_section %}
                <a href="/section/{{ parent_section.id }}">{{ parent_section.title }}</a> >
            {% endif %}
            <a href="/section/{{ section.id }}">{{ section.title }}</a>
        </div>

        {% if subsections %}
            <div class="section_page__subsections">
                <div class="section_page__subsections__title">
                    Подразделы раздела <b>«{{ section.title }}»</b>
                </div>
                <div class="section_page__subsections__list">
                    {% for subsection in subsections %}
                        <div class="section_page__subsections__list__item">
                            <div class="section_page__subsections__list__item__title">
                                <img src="//cyberstatic.net/images/statusicon/forum_new.gif">
                                <a href="/section/{{ subsection.id }}/">{{ subsection.title }}</a>
                            </div>
                            <div class="section_page__subsections__list__item__threads_count">
                                {{ '{:,}'.format(subsection.threads_count) }} тем
                            </div>
                            <div class="section_page__subsections__list__item__answers_count">
                                {{ '{:,}'.format(subsection.answers_count) }} ответов
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="section_page__threads">
            <div class="section_page__threads__title">
                Темы раздела <b>«{{ section.title }}»</b>
            </div>
            <div class="section_page__threads__header">
                <div class="section_page__threads__header__title">
                    <span>Тема / автор</span>
                </div>
                <div class="section_page__threads__header__last_answer">
                    <span>Последнее сообщение</span>
                </div>
                <div class="section_page__threads__header__answers_count">
                    <span>Ответов</span>
                </div>
            </div>

            <div class="section_page__threads__list">
                {% for thread in threads %}
                    <div class="section_page__threads__list__item">
                        <div class="section_page__threads__list__item__title">
                            <a href="/thread/{{ thread['id'] }}/">{{ thread['title'] }}</a>
                            <div class="section_page__threads__list__item__title__user">
                                <i class="fa fa-calendar"></i> {{ thread['created_at'] }}
                                <i class="fa fa-user"></i> {{ thread['username'] }}
                            </div>
                        </div>
                        <div class="section_page__threads__list__item__last_answer">
                            {{ thread['last_answer_time'] or '-' }}
                        </div>
                        <div class="section_page__threads__list__item__answers_count">
                            {{ thread['answers_count'] or 0 }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="section_page__thread_form">
            {% if current_user.is_authenticated %}
                <div class="cyberforum_form">
                    <div class="cyberforum_form__title">
                        Создание новой темы в разделе<br><b>«{{ section.title }}»</b>
                    </div>
                    <form action="/thread/" method="POST" class="cyberforum_form__area">
                        {% if errors %}
                            <div class="cyberforum_form__area__errors">
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="cyberforum_form__area__data">
                            <label for="title">Название темы</label><br>
                            <input type="text" name="title" maxlength="255" required="required"><br><br>

                            <label for="labels">Метки (через запятую)</label><br>
                            <input type="text" name="labels" class="js--labels-input"><br><br>

                            <div class="section_page__thread_form__labels_list js--labels-list"></div>
                            <label for="text">Текст сообщения</label><br>
                            <textarea name="text" rows="5" maxlength="65535" required="required"></textarea><br>

                            <input type="hidden" name="forum" value="{{ forum.id }}">
                            <input type="hidden" name="section" value="{{ section.id }}">
                        </div>
                        <div class="cyberforum_form__area__controls">
                            <button type="submit" class="cyberforum_btn">Добавить тему</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="section_page__thread_form__controls">
                    <a href="/login/?next=/section/{{ section.id }}"
                       class="cyberforum_btn">
                        Добавить тему
                    </a>
                </div>
            {% endif %}
        </div>

        {% if prev_page or next_page %}
            <div class="section_page__paginator">
                <div class="section_page__paginator__prev_page">
                    {% if prev_page %}
                        <a href="/section/{{ section.id }}/?page={{ prev_page }}">
                            <i class="fa fa-chevron-circle-left"></i> Предыдущая страница
                        </a>
                    {% endif %}
                </div>

                <div class="section_page__paginator__curr_page">
                    Страница {{ curr_page }}
                </div>

                <div class="section_page__paginator__next_page">
                    {% if next_page %}
                        <a href="/section/{{ section.id }}/?page={{ next_page }}">
                            Следующая страница <i class="fa fa-chevron-circle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <style>
        .section_page__bread_crumbs {
            font-size: .9rem;
            margin-left: .5rem;
            margin-right: .5rem;
            padding: 1rem 0;
        }
        .section_page__bread_crumbs a {
            color: #000080;
        }

        .section_page__subsections,
        .section_page__threads {
            font-size: 1rem;
            margin-top: .5rem;
            margin-left: .5rem;
            margin-right: .5rem;
            border: .05rem solid #0B198C;
        }
        .section_page__subsections__title,
        .section_page__threads__title {
            background: #3774A4;
            color: #FFFFFF;
            padding: 1rem;
        }
        .section_page__subsections__list__item {
            padding: .5rem;
            display: flex;
        }
        .section_page__subsections__list__item__title {
            flex: 80%;
        }
        .section_page__subsections__list__item__title a {
            color: #000080;
            text-decoration: underline;
            display: inline-block;
            margin-top: -0.4rem;
        }
        .section_page__subsections__list__item__title img {
            display: inline-block;
            vertical-align: middle;
        }
        .section_page__subsections__list__item__threads_count {
            flex: 10%;
        }
        .section_page__subsections__list__item__answers_count {
            flex: 10%;
        }

        .section_page__threads__header {
            font-weight: bold;
            display: flex;
            border-bottom: .05rem solid gray;
        }
        .section_page__threads__header__title {
            padding: 1rem .5rem .5rem;
            flex: 85%;
            border-right: .05rem solid gray;
        }
        .section_page__threads__header__last_answer {
            padding: .5rem;
            flex: 10%;
            border-right: .05rem solid gray;
            text-align: center;
        }
        .section_page__threads__header__answers_count {
            padding: 1rem .5rem .5rem;
            flex: 5%;
            text-align: center;
        }

        .section_page__threads__list__item {
            display: flex;
            background: #F6F6F6;
            border-bottom: .05rem solid gray;
        }
        .section_page__threads__list__item__title {
            padding: .5rem;
            flex: 85%;
            text-overflow: ellipsis;
            border-right: .05rem solid gray;
        }
        .section_page__threads__list__item__title a {
            color: #000080;
            text-decoration: none;
        }
        .section_page__threads__list__item__title a:hover,
        .section_page__threads__list__item__title a:focus {
            text-decoration: underline;
        }
        .section_page__threads__list__item__title__user {
            margin: .5rem 0;
            font-size: .8rem;
            color: #272c54;
        }
        .section_page__threads__list__item__last_answer {
            padding: .5rem;
            flex: 10%;
            border-right: .05rem solid gray;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        .section_page__threads__list__item__answers_count {
            padding: .5rem;
            flex: 5%;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        .section_page__thread_form {
            margin: 2rem .5rem;
            display: flex;
        }
        .section_page__thread_form__controls {
            margin: 0 auto;
            display: flex;
        }
        .section_page__thread_form .cyberforum_form {
            width: 50rem;
        }
        .section_page__thread_form .cyberforum_form textarea {
            resize: vertical;
        }
        .section_page__thread_form__labels_list {
            border: 0.05rem solid black;
            max-height: 10rem;
            overflow-y: scroll;
            margin-bottom: 1rem;
            padding: 0 .5rem .5rem;
            margin-top: -1rem;
            bottom: 1rem;
            font-size: 0.9rem;
            display: none;
        }
        .section_page__thread_form__labels_list__item:hover {
            cursor: pointer;
            font-weight: bold;
        }

        .section_page__paginator {
            display: flex;
            margin-left: .5rem;
            margin-right: .5rem;
            padding: 1rem 0;
            font-size: 1rem;
        }
        .section_page__paginator a {
            color: black;
            text-decoration: none;
        }
        .section_page__paginator a:hover,
        .section_page__paginator a:focus {
            font-weight: bold;
        }
        .section_page__paginator__prev_page {
            text-align: left;
            flex: 33.3%;
        }
        .section_page__paginator__curr_page {
            text-align: center;
            flex: 33.3%;
        }
        .section_page__paginator__next_page {
            text-align: right;
            flex: 33.3%;
        }
    </style>

    <script>
        let typingTimer;
        const doneTypingInterval = 500;    // 100 ms
        const $labelsInput = $('.js--labels-input');
        const $labelsList = $('.js--labels-list');

        $labelsInput.on('keyup', () => {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(showLabels, doneTypingInterval);
        });

        $labelsInput.on('keydown', () => {
            clearTimeout(typingTimer);
        });

        const labelClasses = "section_page__thread_form__labels_list__item js--label";
        const showLabels = () => {
            const labels = $labelsInput.val().split(',').filter((label) => label);
            const query = labels[labels.length - 1].trim();

            if (!query) {
                $labelsList.html('');
                $labelsList.hide();
                return;
            }

            $.get('/thread_label_search/?query=' + query, (data) => {
                $labelsList.html(
                    $.map(data.labels, (label) => {
                        return `<p class="${labelClasses}">${label}</p>`;
                    })
                );
                if (data.labels.length) {
                    $labelsList.show();
                }
            });
        };

        $(document).on('click', '.js--label', (event) => {
            const $label = $(event.target);

            const labels = $labelsInput.val().split(',');
            labels[labels.length - 1] = $label.text();

            $labelsInput.val(labels.join(', ') + ', ');

            $labelsList.html('');
            $labelsList.hide();
        });
    </script>
{% endblock %}
