{% extends 'base.html' %}

{% block content %}
    <div class="thread_page">
        <div class="thread_page__bread_crumbs">
            {{ forum.title }} >
            {% if parent_section %}
                <a href="/section/{{ parent_section.id }}">{{ parent_section.title }}</a> >
            {% endif %}
            <a href="/section/{{ section.id }}">{{ section.title }}</a>
        </div>

        <div class="thread_page__thread">
            <div class="thread_page__thread__title">
                <b>Тема</b><br/>
                «{{ thread.title }}»
            </div>
            <div class="thread_page__thread__area">
                <div class="thread_page__thread__area__author">
                    <b><a href="/profile/{{ author.id }}">{{ author.username }}</a></b>

                    <div class="thread_page__thread__area__author__info">
                        Регистрация: {{ author.registered_at_pretty }}<br>
                        Сообщений: {{ author.msg_count }}
                    </div>
                </div>
                <div class="thread_page__thread__area__description">
                    <div class="thread_page__thread__area__description__info">
                        Создана: {{ thread.created_at_pretty }}<br>
                        Ответов: {{ thread.answers_count }}<br>
                        Метки:
                        {% for label in labels %}
                            <span class="thread_page__thread__area__description__info__label">
                                {{ label.text }}
                            </span>
                        {% endfor %}
                        <hr size="1" style="color: #AAAAAA; margin: .5rem 0 1rem 0">
                    </div>
                    <div class="thread_page__thread__area__description__text">
                        {{ thread.text }}
                    </div>
                    <div class="thread_page__thread__area__description__rating">
                        {{ thread.rating or 0 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="thread_page__answers">
            {% for answer in answers %}
                <div class="thread_page__answers__answer">
                    <div class="thread_page__answers__answer__author">
                        <b><a href="/profile/{{ answer.author.id }}">{{ answer.author.username }}</a></b>

                        <div class="thread_page__answers__answer__author__info">
                            Регистрация: {{ answer.author.registered_at_pretty }}<br>
                            Сообщений: {{ answer.author.msg_count }}
                        </div>
                    </div>
                    <div class="thread_page__answers__answer__description
                                {% if answer.is_off_topic %}
                                    thread_page__answers__answer__description_off_topic
                                {% endif %}"
                    >
                        <div class="thread_page__answers__answer__description__info">
                            {{ answer.created_at_pretty }}
                            <div class="thread_page__answers__answer__description__info__answer_id">
                                Ответ #{{ loop.index }}
                            </div>
                            <hr size="1" style="color: #AAAAAA; margin: .5rem 0 1rem 0">
                        </div>
                        <div class="thread_page__thread__area__description__text">
                            {{ answer.text }}
                        </div>
                        <div class="thread_page__thread__area__description__rating">
                            <span class="js--answer-rating">{{ answer.rating or 0 }}</span>
                            {% if not answer.is_off_topic %}
                                <div class="js--inc-answer-rating thread_page__thread__area__description__rating__thanks"
                                     data-answer-id="{{ answer.id }}"
                                >
                                    +1 Спасибо
                                </div>
                            {% endif %}
                        </div>
                        {% if answer.author.msg_signature %}
                            <div class="thread_page__thread__area__description__signature">
                                <hr size="1" style="color: #AAAAAA; margin: 1rem 0 .5rem 0; width: 30%">
                                <i class="fa fa-pencil-alt"></i>&nbsp;{{ answer.author.msg_signature }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="thread_page__answer_form">
            {% if current_user.is_authenticated %}
                <div class="cyberforum_form">
                    <div class="cyberforum_form__title">
                        Добавление ответа
                    </div>

                    <form action="/answer/" method="POST" class="cyberforum_form__area">
                        {% if errors %}
                            <div class="cyberforum_form__area__errors">
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="cyberforum_form__area__data">
                            <label for="text">Текст ответа</label><br>
                            <textarea name="text" rows="5" maxlength="65535" required="required"></textarea><br>

                            <input type="hidden" name="next" value="/thread/{{ thread.id }}/">
                            <input type="hidden" name="thread" value="{{ thread.id }}">
                        </div>
                        <div class="cyberforum_form__area__controls">
                            <button type="submit" class="cyberforum_btn">Добавить ответ</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="thread_page__answer_form__controls">
                    <a href="/login/?next=/thread/{{ thread.id }}/"
                       class="cyberforum_btn">
                        Добавить ответ
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <style>
        .thread_page__bread_crumbs {
            font-size: .9rem;
            margin-left: .5rem;
            margin-right: .5rem;
            padding: 1rem 0;
        }
        .thread_page__bread_crumbs a {
            color: #000080;
        }

        .thread_page__thread,
        .thread_page__answers__answer {
            margin-top: 1rem;
            margin-right: .5rem;
            margin-left: .5rem;
            border: .05rem solid #0B198C;
        }
        .thread_page__thread__title {
            font-size: 1rem;
            background: #3774A4;
            color: #FFFFFF;
            padding: 1rem;
        }
        .thread_page__thread__area,
        .thread_page__answers__answer {
            display: flex;
        }
        .thread_page__thread__area__author,
        .thread_page__answers__answer__author {
            flex: 15%;
            background: #E6E6E6;
            border-right: .05rem solid #AAAAAA;
            padding: .5rem;
            font-size: 1rem;
        }
        .thread_page__thread__area__author a,
        .thread_page__answers__answer__author a {
            color: black;
            text-decoration: none;
        }
        .thread_page__thread__area__author a:hover,
        .thread_page__thread__area__author a:focus,
        .thread_page__answers__answer__author a:hover,
        .thread_page__answers__answer__author a:focus {
            color: black;
            text-decoration: underline;
        }
        .thread_page__thread__area__author__info,
        .thread_page__answers__answer__author__info {
            margin-top: .5rem;
            font-size: .8rem;
        }
        .thread_page__thread__area__description__info__label {
            border-radius: 1rem;
            background: rgb(211, 78, 182);
            padding: .1rem .5rem;
            color: white;
            margin-right: .2rem;
        }
        .thread_page__thread__area__description,
        .thread_page__answers__answer__description {
            flex: 85%;
            padding: .5rem;
            font-size: .9rem;
        }
        .thread_page__answers__answer__description_off_topic {
            background: rgb(236, 236, 236);
            color: gray;
        }
        .thread_page__thread__area__description__info,
        .thread_page__answers__answer__description__info {
            color: gray;
            font-size: .8rem;
        }
        .thread_page__thread__area__description__rating {
            text-align: left;
            color: #808080;
            font-weight: bold;
            font-size: 1rem;
            margin-top: 1rem;
        }
        .thread_page__thread__area__description__rating__thanks {
            float: right;
            font-size: .9rem;
            color: #3774A4;
            font-weight: normal;
        }
        .thread_page__thread__area__description__rating__thanks:hover {
            font-weight: bold;
            cursor: pointer;
        }
        .thread_page__thread__area__description__signature {
            font-size: .8rem;
        }
        .thread_page__answers__answer__description__info__answer_id {
            float: right;
            font-weight: bold;
        }

        .thread_page__answer_form {
            margin: 2rem .5rem;
            display: flex;
        }
        .thread_page__answer_form .cyberforum_form {
            width: 50rem;
        }
        .thread_page__answer_form .cyberforum_form textarea {
            resize: vertical;
        }
        .thread_page__answer_form__controls {
            display: flex;
            margin: 0 auto;
        }
    </style>

    <script>
        $('.js--inc-answer-rating').on('click', (event) => {
            const $incButton = $(event.target);
            const $rating = $incButton.prev('.js--answer-rating');

            $.get(`/inc_answer_rating/${$incButton.data('answer-id')}/`, (data) => {
                $rating.html(data.rating);
            });
        });
    </script>
{% endblock %}
